.content1 {
    margin: 100px 0;
    position: relative;
    top: 700px;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.content1__content {
    margin: auto;
    width: 634px;
    height: 257px;
    margin-bottom: 20px;;
}
.content1__header {
    letter-spacing: 0.2px;
    font-size: 36px;
    color: var(--secondary);
}
.content1__title {
    margin-top: 20px;
    letter-spacing: 0.2px;
    font-size: 56px;
    color: var(--first-text);
}
.content1__subtitle {
    margin-top: 20px;
    letter-spacing: 0.2px;
    font-size: 24px;
    color: var(--second-text);
}
.content1__options {
    width: 445px;
    height: 52px;
    margin: auto;
}
.content1__btn {
    font-size: 18px;
    font-weight: bold;
    border-radius: 85px;
    height: 52px;
}
.content1__btn-download {
    background-color: var(--primary);
    color: var(--light-text);
    border: none;
    width: 187px;
}
.content1__see-walkthrough {
    float: right;
    background: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    width: 245px;
}