.home {
    background: rgb(0,182,240);
    background: linear-gradient(0deg, rgba(0,182,240,0.6) 0%, rgba(0,182,240,0) 100%);
    height: 100vh;
}
.home__balls {
    overflow: hidden;
}
.home__blue-ball {
    position: absolute;
    left: -390px;
    top: 300px;
    background-color: var(--primary);
    width: 626.46px;
    height: 662.48px;
    border-radius: 100%;
    transform: rotate(-68.94deg);
}
.home__yellow-ball {
    position: relative;
    left: 1000px;
    background-color: var(--secondary);
    width: 712.45px;
    height: 475.1px;
    border-radius: 100%;
}
.home__content {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 6%;
}
.home__title {
    letter-spacing: 0.2px;
    font-weight: 1000;
    font-size: 72px;
    color: var(--first-text);
    margin-bottom: 16px;
}
.home__subtitle {
    color: var(--second-text);
    letter-spacing: 0.2px;
    font-size: 19px;
    font-weight: 600;
}
.home__btn {
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: bold;
    margin: 72px 10px;
    border: none;
    outline: none;
    border-radius: 85px;
}
.home__flat-browser {
    display: flex;
    justify-content: center;
}
.home__browser-img {
    position: absolute;
    z-index: 1;   
}
.home__btn-get-started {
    background: var(--primary);
    color: var(--light-text);
    width: 192px;
    height: 52px;
}
.home__btn-try-for-free {
    background: var(--light-text);;
    color: var(--first-text);
    width: 192px;
    height: 52px;
}